.footer {
  padding-left: 100px;
  box-sizing: border-box;
  padding-bottom: 70px;
}
.footer .logo {
  height: 25px;
}
.footer p {
  font-size: 11px;
  line-height: 15px;
}
.footer p span {
  font-weight: 500;
}
.footer a {
  color: black;
}
@media (max-width: 560px) {
  .footer {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    max-width: none;
  }
}
